#chuck_norris {
    align: right;
    font-style: italic;
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 10px;
}

#header {
    height: 30vh;
	margin-top: 30vh;
}

#about {
    height: 30vh;
}